h1,h2{
	color: #b9babb;
}
body{
	background: url(../img/form_bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px; 
}
.w{
	width: 500px;
	margin: 100px auto;
}
h1{
	text-align: center;
	font-size: 26px;
	line-height: 26px;
	font-weight: normal;
	color: white;
}
h2{
	text-align: center;
}
.main{
	width: 300px;
	margin: 50px auto;
	text-align: center;
	padding: 20px;
	background-color: rgba(10,25,35,.2);
	border-radius: 10px;
}
.main form{
	padding: 10px 0;
}
input{
	width: 200px;
	margin: 10px auto;
	height: 25px;
	border: 1px #314150 solid;
	padding-left: 5px;
	border-radius: 5px; 
	background-color: rgba(10,25,35,.1);
	color:white;
	outline: none;
}
input::-moz-placeholder{
	color: white;
	font-size: 14px;
}
input:hover{
	border: none;
	border-bottom: 1px #8ec9f4 solid;
	transform: scale(1.05);
}
input.error { border: 1px solid red; }
label.error {
	position: absolute;
    background:url("./demo/images/unchecked.gif") no-repeat 0px 0px;
    padding-left: 16px;
    padding-bottom: 2px;
    font-weight: normal;
    color: #f8344f;
    height: 44px;
    line-height: 44px;
}
label.checked {
    background:url("./demo/images/checked.gif") no-repeat 0px 0px;
}

/*按钮悬停效果*/
button{
	width: 80px;
	height: 28px;
	background-color: #fff;
	margin-top: 20px;
	border: none;
	outline: none;
	background-color: rgba(13,97,143,.5);
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 10px 0;
	opacity: 0.6;
}
button:hover, button:focus {
 	-webkit-animation: bubbles 1s forwards ease-out;
    animation: bubbles 1s forwards ease-out;
  	background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 79% 111% / 0.85em 0.85em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 110% 81% / 1.16em 1.16em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 19% 91% / 0.51em 0.51em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 98% 115% / 1.12em 1.12em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) -9% 131% / 1.05em 1.05em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 80% 98% / 0.83em 0.83em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 100% 142% / 0.54em 0.54em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 51% 146% / 0.8em 0.8em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 34% 136% / 1.17em 1.17em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 85% 100% / 0.97em 0.97em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 29% 110% / 1.04em 1.04em;
  	background-color: rgba(56,110,120,.5);
  	background-repeat: no-repeat;
  	opacity: 1;
}

@-webkit-keyframes bubbles {
  100% {
    background-position: 75% 36%, 114% -215%, 9% 7%, 107% -164%, -1% -117%, 83% -33%, 96% -350%, 54% -341%, 32% -2%, 80% -279%, 31% -32%;
    box-shadow: inset 0 -6.5em 0 #6ab2e6;
  }
}

@keyframes bubbles {
  100% {
    background-position: 75% 36%, 114% -215%, 9% 7%, 107% -164%, -1% -117%, 83% -33%, 96% -350%, 54% -341%, 32% -2%, 80% -279%, 31% -32%;
    box-shadow: inset 0 -6.5em 0 #6ab2e6;
  }
}


